{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div id="wrap" class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Nimit Maru</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    <h2>All Tweets</h2>
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li>
        	<div class='tweetbox'>
        	<img src = 'content'>
        	<div class='content'>
        		<div class='by'><a href="/users/{{tweet.name}}">{{tweet.name}}</a></div>
        		<div>{{tweet.content}}</div>
        		<button>Re-tweet</button>
        	</div>
        </li>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}